/* Configuração do body e fconfigurações básicas */
body {
    background-color: var(--Fundo);
    margin: 0;
    min-height: 100vh; /* body ocupa a tela toda */
    display: flex;
    flex-direction: column; /* empilha os elementos verticalmente */
}

main {
    flex: 1;
}


h1, h2, h3 {
    font-family: 'Playfair Display', serif;
    font-weight: 600;
}

body, p, input, button, .entrar{
    font-family: 'Nunito', sans-serif;
    font-weight: 600
}

a {
    text-decoration: none;
}



/* Header*/
header {
    background-color: var(--HeaderBg);
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

header #Logo {
    height: 110px; 
    width: auto; 
    margin-right: 10px;
}

header a {
    text-decoration: none;
    color: var(--Fundo);
}
/* fim header*/

/* nav */
nav a{
    margin: 50px;
    padding: 10px;
}

nav a:hover {
    border-radius: 10px;
    color: var(--FundoLogin);
}

nav {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 0 auto;
}
/* fim nav*/


/* class */
.entrar {
    color: var(--TextoBranco);
    background-color: var(--HeaderBgEscuro);
    padding: 10px;
    border-radius: 10px;
}

.entrar:hover{
    text-decoration: none;
}

.linha {
    height: 90px;
    width: auto;
    rotate: 30deg;
    position: relative;
    top: -20px;
    color: var(--Preto);
}
/* fim class */

/* submenus no "receitas" */
.menus {
    position: relative;
}

.BoasVindas {
    text-align: center;
    color: var(--TextoPrincipal);
    margin-top: 20px;
    margin-bottom: 50px;
}

.BoasVindas h1 {
    font-size: 1.78em;
}

.BoasVindas h3 {
    font-size: 1.1em;
}
.menus .submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: var(--HeaderBg);
    border-radius: 10px;
    padding: 0.5rem;
    z-index: 99;
    min-width: 150px;
}

.menus:hover .submenu {
  display: block;
}

.submenu a {
    display: block;
    padding: 0.4rem 0.8rem;
    color: var(--Fundo);
    text-decoration: none;
    font-size: 0.85rem;
}

.submenu a:hover {
    color: var(--FundoLogin);
    border-radius: 10px;
}
/* fim do submenu */

.ButtonDark {
    margin-left: auto;
    margin-right: 50px;
    font-size: 1.5em;
    color: var(--AcentoClaro);
}

.panela {
    margin-top: -1500px;
    justify-content: left;
    height: 950px;
}

/* Footer */
footer {
    background-color: var(--HeaderBg); /* cor de fundo do footer */
    color: var(--TextoGeral); /* cor do texto */
    margin-top: auto; /* empurra o footer pra baixo */
    font-size: 1rem; /* deixa os ícones maiores */
}

footer a {
    color: var(--Acento); /* cor dos ícones */
    font-size: 1.2rem; /* tamanho dos ícones */
    text-decoration: none; /* tira a decoração do texto */
}

footer span {
    font-size: smaller;
    color: var(--Acento);
}
footer a:hover {
    color: var(--AcentoClaro); /* cor ao passar o mouse */
}

.cont {
    position: absolute;
    left: 50px;
    top: 290px;
    width: 250px;
    height: 500px;
    text-align: center;
    background-color: var(--Fundo);
    box-shadow: 0px 0px 10px 5px var(--Borda); 
    border-radius: 15px;
    font-family: 'Playfair Display', serif;;
}

.chefe .mensagem {
    margin-top: 100px;
    font-size: 1.5rem;
}
.chefe .Dica {  
    margin-top: -5px !important;
}



.icone-chef {
    width: 80px;
    fill: var(--MarromMedio);
}